[2020-05-26 17:46] hananiel opened #2 "Plans to publish to Nuget.org?"
This repo appears to have the most commits since PlayFab archived their project. Do you have plans to publish to nuget - do you need help with doing that?

[2020-05-26 19:04] jgiannuzzi commented on #2
Hi @hananiel, thanks for your interest in this repo!

We do plan to add a CI pipeline based on GitHub Actions and publish to NuGet in the coming days, so stay tuned!

[2020-05-28 07:02] jgiannuzzi commented on #2
The initial CI to build and test on all platforms has been added in #3.

[2020-06-04 16:33] jgiannuzzi commented on #2
Thanks to @highlyunavailable, who used to maintain the original repo, we were able to publish our updated NuGet package as a new version of the same package! This should make the upgrade path the simplest for the community!

Do not hesitate to contribute to this repo by creating issues or pull requests, and let us know if you upgrade Steeltoe to use this new release 😉

[2020-06-08 09:26] Poimen opened #9 "Missing dependency with 4.6.1 library"
We are attempting to use the .Net Framework 4.6.1 library in a .Net Framework 4.6.2.

When we install version 0.7.2.6, all works as expected.

When we install version 1.6.1, the following problems occur:
1. Visual Studio does not recognise the package dll properly (there is a yellow triangle on the references tab)

2. Fixing 1 above by manually including the assembly, running a console app gives:

[2020-06-08 10:01] jgiannuzzi commented on #9
Thanks for reporting this @Poimen, we will try to reproduce it. Could you please let us know which version of Visual Studio you are using?

[2020-06-08 11:14] Poimen commented on #9
I am using:
[code]

[2020-06-08 11:17] Poimen commented on #9
I should mention that I did:
 - Create console application - v4.6.2
 - Add Package via NuGet

[2020-06-08 18:31] jgiannuzzi commented on #9
I was able to reproduce this issue even without Visual Studio, by
* creating a new project with `dotnet new console`
* changing `TargetFramework` to `net461`
* adding the package with `dotnet add package Consul --version 1.6.1`
* changing `Program.cs` to what @Poimen posted [above](https://github.com/G-Research/consuldotnet/issues/9#issue-634433759)

The issue seems to stem from embedding the Newt

[2020-06-08 20:35] jgiannuzzi commented on #9
The issue was indeed with incorrect embedding/merging. PR #10 should fix it. Once fully validated, we will release a new build.

[2020-06-08 22:04] jgiannuzzi commented on #9
Fixed by PR #10 and released as [v1.6.1.1](https://github.com/G-Research/consuldotnet/releases/tag/v1.6.1.1)

[2020-06-08 22:04] #9 closed

[2020-06-09 06:54] Poimen commented on #9
Thanks for the fast support. Tested it this morning, and all works as expected.

[2020-06-09 21:36] sergeyshaykhullin opened #15 "Add ASP.NET Core integration"
- Add IServiceCollection extensions for registering client
- Add IHostedService or IApplicationBuilder extensions for service register/deregister

[2020-06-11 08:20] ssenart opened #16 "Asp.Net Core 3.1 on Windows"
Hello,

I did not manage to make Consul.Net library work with .NET Core 3.1 on Windows.

I always face a "Host not found" error while trying to connect to the agent. I tried with a dummy program and with all test unit tests => same result.

It works fine with .NET Core 2.1 and 2.2 in Windows.

I have seen that you have tested .NET Core 3.1 on Linux. Do you confirm the issue on Windows ?

Thanks fo

[2020-06-11 09:25] mfkl commented on #16
Hi,

Can you share a minimal [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) please?

[2020-06-11 21:25] ssenart commented on #16
The program below hangs at "put" command until a timeout :

System.AggregateException: 'One or more errors occurred. (Unexpected response, status code ServiceUnavailable: <HTML><HEAD>
<TITLE>Network Error</TITLE>
</HEAD>
<BODY>
<FONT face="Helvetica">
<big><strong></strong></big><BR>
</FONT>
<blockquote>
<TABLE border=0 cellPadding=1 width="80%">
<TR><TD>
<FONT face="Helvetica">
<big>Network Error

[2020-06-12 09:41] jgiannuzzi commented on #16
Hi @ssenart, thanks for your report.

In our CI pipeline, we do run all the unit tests on .NET Framework 4.6.1, .NET Core 2.0, and .NET Core 3.1 on Windows. We also run them on .NET Core 3.1 on Linux and macOS.

I tested your program with .NET Core 3.1 on Windows and it worked fine.

Could you please help clarify a few things?
* The program in your previous comment is a console application, not an

[2020-06-12 18:03] ssenart commented on #16
Hi and thanks for your time.

I have found the cause. All HTTP requests are going through the company proxy server.

Even localhost or 127.0.0.1 requests. Obviously, the proxy is unable to DNS resolve localhost or 127.0.0.1, hence the error message I had.

To solve this, I set the environment variable NO_PROXY=localhost,127.0.0.1.

The fact that the behaviour changed between Core 2.x and Core 3.x

[2020-06-12 18:03] #16 closed

[2020-06-17 10:48] jgiannuzzi commented on #15
Thanks for opening this issue, @sergeyshaykhullin, and sorry for the late response!

Having these extensions could be very useful indeed.
As they depend on ASP.Net Core, we think it should not be implemented in the main library, but rather in another namespace (i.e. `Consul.AspNetCore.Registration`), published as a separate NuGet package.

PRs are welcome, and if anyone wants to work on this, plea

[2020-06-17 20:31] sergeyshaykhullin commented on #15
https://github.com/G-Research/consuldotnet/pull/17

[2020-07-09 09:48] maxoris opened #20 "Unnecessary delay in LockTryOnce scenario"
Currently if we are using single shot locking strategy and creating `Lock` with `LockTryOnce = true` option, in case of negative locking result we have to wait for `LockRetryTime`, before the checking for `LockTryOnce` and loop brake.
I suppose it would be great to check for value of `LockTryOnce` before introducing a delay.

[2020-08-18 11:14] jgiannuzzi commented on #20
Thanks for your interest in Consul.NET @maxoris, and sorry for the very long delay in replying! (You could call it an unnecessary delay as well 😅)

I would like to clarify the issue you are facing.
If the lock is already held when trying to acquire it, then setting `LockTryOnce = true` and `LockWaitTime = TimeSpan.FromTicks(0)` will fail immediately with `LockMaxAttemptsReachedException`. If inste

[2020-08-18 22:43] highlyunavailable commented on #20
This code was directly ported from the Consul Go code, so many idiosyncrasies of the Go code were inherited. You can see the [current behavior](https://github.com/hashicorp/consul/blob/master/api/lock.go#L226-L248) in said code too matches this.

If the condition was changed to `if (!Opts.LockTryOnce)` then I think it _might_ work, but as it stands now, the code in #21 actually makes a hot loop ha

[2020-08-19 09:01] jgiannuzzi commented on #20
Thank you very much for your insightful feedback, @highlyunavailable!

Given that the current behaviour of the Consul Go client is similar, I wonder whether we might want to keep this as-is?

@maxoris Does setting `LockWaitTime = TimeSpan.Zero` and `LockRetryTime = TimeSpan.FromMilliseconds(500)` work for you? In that case, you'll either acquire immediately the lock, or wait 500ms in case of lock

[2020-08-24 15:28] highlyunavailable commented on #20
You could even set `LockRetryTime = Timespan.Zero` if you want. That means it'll truly try once and never again, and immediately return if that one single try failed.

[2020-08-25 08:49] jgiannuzzi commented on #20
There is a minimum value of 500ms for `LockRetryTime`, hence my suggestion. I suppose you added it to avoid letting users inadvertently trigger a hot loop.

[2020-08-25 19:33] highlyunavailable commented on #20
I'm betting that was also a carryover from Go. I _would_ say we could easily accept a removal of that argument check, since it is definitely not in current Go code. I'm honestly not sure where it came from though.

[2020-08-30 07:31] Salgat opened #24 "Support for injecting HttpClient in a non-obsolete constructor"
As of now ConsulClient allows for injecting an HttpClient using an [Obsolete] constructor ([here](https://github.com/G-Research/consuldotnet/blob/master/Consul/Client.cs#L446)). This project should remove this [Obsolete] attribute until an alternative way to inject HttpClient is provided as a migration path (my suggestion is sticking with the current constructor or just a Func\<HttpClient\>). As o

[2020-08-31 14:46] firerain-fd opened #25 "Support for "/agent/health/service/*" API methods."
Are there any plans to support this functionality https://www.consul.io/api-docs/agent/service#get-local-service-health ?

[2020-08-31 14:51] mfkl commented on #25
Hi @firerain-fd,

Thanks for the interest. Would you like to contribute a PR to https://github.com/G-Research/consuldotnet/blob/master/Consul/Health.cs?

[2020-08-31 14:56] firerain-fd commented on #25
No. I wonder if this functionality will be supported in future versions?

[2020-08-31 15:00] firerain-fd commented on #25
Sorry, I got the wrong label.
This is not a bug but an enhancement.

[2020-08-31 15:03] mfkl commented on #25
Yes, but I don't have the necessary rights to change it.

[2020-09-01 08:21] HAghajanyan-ST opened #26 "Add possibility to filter service by multiple tags"
[tag](https://www.consul.io/api-docs/catalog#tag) (string: "") - Specifies the tag to filter on. This is specified as part of the URL as a query parameter. **Can be used multiple times for additional filtering**, returning only the results that include all of the tag values provided.

[2020-09-02 09:41] jgiannuzzi commented on #20
It looks like in Go they never even implemented a configurable `LockRetryTime`, so they can't have a hot loop.
This makes me think that removing the argument check altogether might let users shoot themselves in the foot.

Maybe we could instead accept a zero `LockRetryTime` when `LockWaitTime == Timespan.Zero` and `LockTryOnce == true`?
Though in that case, we might even be better off checking whe

[2020-09-02 09:50] jgiannuzzi commented on #26
Hi @HAghajanyan-ST, thanks for suggesting this feature, it's a great idea!

Implementing it would require changing `ConsulRequest`, as its `Params` are implemented as a `Dictionary<string, string>`, which would not allow to specify tag multiple times.
Once changed, we could then have an additional `Catalog.Service` method accepting a list of tags.

Would you like to create a PR implementing this?

[2020-09-02 09:52] HAghajanyan-ST commented on #26
Yes of course, I can create PR

[2020-09-02 10:01] hovik-aghajanyan commented on #26
For PR I will use my personal account :)

[2020-09-02 10:37] jgiannuzzi commented on #26
Awesome, looking forward to it!

[2020-09-03 07:47] highlyunavailable commented on #20
I think I shot myself in the foot when I was writing this with a configurable LockRetryTime, which is why the check is there. We'd be checking for elapsed twice in the case of retry time, and that doesn't _really_ prevent a hot loop, which is very possible and tips over your Consul agent, if not cluster, so you _really_ don't want one.

What you said though is a restatement with different words of

[2020-09-03 15:25] jgiannuzzi commented on #25
Hi @firerain-fd, I confirm that we are currently not planning to support these methods in future versions.

However, PRs are always welcome, so if you know anyone who can help implement it, send them this way! 😄

[2020-09-03 17:38] #15 closed

[2020-09-03 17:58] jgiannuzzi opened #29 "Add CI for Consul.AspNetCore"
Now that we have our initial ASP.NET extensions project, we need to add support in our CI pipeline to build, test, and publish it.

[2020-09-07 11:48] RwLin69 opened #30 "the problems of service register"
**Describe the bug**

Hello，I want to register the service to consul by calling the "IAgentEndpoint.Agent.ServiceRegister",this is my code:
[code]
I used consul_server vesion 1.4 to register is sucessed,but uesd consul_server vesion 1.7 to register something is wrong,the exception is
[code]
What do I need to do to solve the problem. Best wishes.

**Steps To Reproduce**

**Expected behavior**

**Lo

[2020-09-09 13:52] jgiannuzzi commented on #30
Thanks for your interest in Consul.NET, @RwLin69!

You should use `AgentServiceCheck` instead of `AgentCheckRegistration` to create a check during service registration.
`AgentCheckRegistration` is supposed to be used with `Agent.CheckRegister`.

Thus your code would become:

[code]

Let me know if this solves your issue!

[2020-09-09 15:32] maurosbarigia commented on #24
I don't really see any strong reasons to obsolete and remove those constructors. As discussed in a previous PR, we inherited them obsoleted, but I have nothing against unobsoleting them, leaving both options available.

[2020-09-09 15:44] jgiannuzzi commented on #24
Thank you @Salgat for suggesting this improvement to Consul.NET!

And thank you @maurosbarigia for reviewing this 👍

Would someone want to contribute a PR to un-obsolete those constructors?

[2020-09-09 16:00] Salgat commented on #24
If no one puts one up in the meantime I'll put up a PR when I get the chance. I want to make sure this gets in since my company is using this + IHttpClientFactory 😊.

[2020-09-10 13:25] jgiannuzzi commented on #26
Hi @hovik-aghajanyan, did you see my comments on #27?

Would you be able to create those new PRs to address this issue?

[2020-09-10 13:29] jgiannuzzi commented on #20
Awesome, thanks @highlyunavailable!

@maxoris, would you like to change your PR #21 to implement what Ann described above?

[2020-09-10 23:00] maxoris commented on #20
@jgiannuzzi Done.
But as mentioned above ```LockTryOnce``` is a misnomer. It's really unclear that we have to set ```LockWaitTime = Timespan.Zero``` to make it truly once. I would suggest to mark it as obsolete in future releases.

@highlyunavailable @jgiannuzzi Thank you for your feedback!

[2020-09-16 13:47] nikhilagrawaldotnet opened #33 "Summary of item"
What can we do to filter agent services on ServiceName? ATM all services are returned to loop on them.
Consul api provides filtering on properties so looking to filter on consul's end itself to improve performance.

Thanks,
Nikhil

[2020-09-23 10:12] HAghajanyan-ST commented on #26
Hi @jgiannuzzi , sorry for late response. Yes, I have already create PRs.

[2020-09-24 09:18] RwLin69 commented on #30
@jgiannuzzi thank you for your help,I solved the issue by your suggestion

[2020-09-24 09:21] mfkl commented on #30
Feel free to close this issue, @RwLin69

[2020-09-24 09:37] #30 closed

[2020-09-24 09:38] RwLin69 commented on #30
solved

[2020-09-25 14:56] arpontes opened #37 "Event when a KV value changes"
Hello,

I'm using consuldotnet for a long time, but when I need to check if a value changes, I need to do it on my own. I think would be nice if this lib could do a check every X minutes for a change in the value and then fire and event with the new value.

I could implement this funcionality and send an PR, if you approve such feature.

[2020-09-25 15:42] mfkl commented on #37
Hi,

Not sure that's in scope with consuldotnet, but maybe. Could you share a snippet of the solution you are currently using please?

Do you use `consul watch` for this or your own code?

If you suggest custom code for this, then users will probably ask next for a HTTP retry/error handling mechanisms, internet connection check, etc. I'm not sure this is in scope with this project, but let's see w

[2020-10-06 18:35] sergeyshaykhullin commented on #29
@jgiannuzzi Does CI for Consul.AspNetCore should be inside ci.yaml workflow or it has to be in a separate?

[2020-10-06 19:06] sergeyshaykhullin commented on #29
@jgiannuzzi Draft version https://github.com/G-Research/consuldotnet/pull/38

[2020-10-06 20:13] janstadt commented on #26
Could you also add the ability to do this by `node-meta` as well? example: `v1/catalog/nodes?node-meta=promoted:False&node-meta=status:ready` would be very useful.  https://github.com/G-Research/consuldotnet/blob/6351664c2cf07c920cd360a831d0d66e4df85764/Consul/Catalog.cs#L34 also doesnt return any `Meta` information. That would also be great to get back.

[2020-10-06 20:42] janstadt commented on #26
I ended up creating an extension method and a class that has a `Meta` property for this. Not the prettiest code but if anyone else needed something similar. Also, please let me know if there is a better api for this kind of querying.

[code]

[2020-10-28 08:53] #24 closed

[2020-11-19 20:33] Syzuna opened #43 "Is it possible to remove the dependecy on Newtonsoft.Json?"
Hello,

I am using your library to register my services for my API gateway without issues, but I noticed that it still has a reference to Newtonsoft.Json as the only library I use.
Would it be possible to switch to System.Text.Json serializers?

Regards

[2020-11-20 03:42] mfkl commented on #43
Hi @Syzuna,

Thanks for the interest.

I guess so. https://www.nuget.org/packages/System.Text.Json/ supports both of the targets we ship (`net461` and `netstandard2.0`).

Would you like to contribute a PR?

[2020-11-20 18:29] Syzuna commented on #43
I can try to clear some time to look into it the next days

[2020-11-20 20:17] jgiannuzzi commented on #43
Thanks @Syzuna, looking forward to it!

This might help you in your endeavour: https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to

@highlyunavailable I imagine that Newtonsoft.Json was chosen because System.Text.Json did not exist back then? Do you foresee any potential issues preventing this migration? Thanks!

[2020-11-20 20:51] highlyunavailable commented on #43
Yep, that's correct, and that's why I went to the effort to ILMerge Newtonsoft.Json into the DLL so that it didn't actually have a dependency. I'm not sure if I'm using any of the banned features (e.g. serializing fields, private setters, etc.) but it might be worth swapping them over and seeing how many tests fail! It's mostly just an unknown at this point. If it could be fairly easily switched t

[2020-11-20 22:13] Syzuna commented on #43
Are there any contribution guidelines I should read?
Like which branch should I use as base and so on?

[2020-11-21 09:02] jgiannuzzi commented on #43
Thanks for your insight, @highlyunavailable! It's great to know that you're still around to help us 😄

@Syzuna we still need to write contribution guidelines, but here is the gist of it:
- use `master` as the base
- try to do "atomic" changes in a PR, as it makes it easier to review them (i.e. only switch to System.Text.Json — if anything else would be needed as a prerequisite, try to make those c

[2020-11-21 16:56] highlyunavailable commented on #43
The biggest blocker is going to be [The converters](https://github.com/G-Research/consuldotnet/blob/master/Consul/Utilities/JsonConverters.cs). It's likely not hard to port them, but make sure you actually need to! For example, the KVPairConverter was needed because Newtonsoft.Json was failing to parse very large ulongs and couldn't properly parse base64 values. I'm also using regex for the Go Dur

[2020-11-22 01:04] Syzuna commented on #43
Sorry for bothering you @jgiannuzzi
Are there any tricks to get the Actions to run in the fork?
It just does not show up in the Actions tab and also does not run on push.

[2020-11-23 00:32] Syzuna commented on #43
@jgiannuzzi @highlyunavailable

Sorry for bothering again but I kinda hit a big issue I wanted to discuss.
System.Text.Json does not rly seem to like non public classes and properties like used in the Keyring Requests e.g.
Is there any reason I cannot make then public or do you have any other ideas how to play around that shortcoming?

[2020-11-23 17:29] highlyunavailable commented on #43
The private "*Request" classes are just there to construct the right object "shape" for the request. Could an internal class work or does it need to be public? It doesn't MATTER technically if it's public, but it's just API clutter if it is. Custom converter could be your answer here, just to get rid of the intermediate object.

All the Dynamic uses are basically just trying to expose JObjects. I

[2020-11-23 19:42] Syzuna commented on #43
I tried internal classes but it wont accept them...
I can make custom converters for them as well and just make them internal but I dunno if that is worth the time that would consume instead of making the classes public with an internal setter which is fine (dont ask me why).

And yeah I wont get around making custom converters for the dynamic part I guess.
But with currently having the Request cl

[2020-12-09 04:39] rsrinivasanhome opened #47 "Query - Consul upgrade - CVE Open required closure"
**CVES Open**

1. CVE-2020-13250
2. CVE-2020-12797
3. CVE-2020-13170
4. CVE-2020-12758

When is upgrade of consul version planned ?-
https://discuss.hashicorp.com/t/consul-1-6-6-and-1-7-4-released-security/9825
Wanted to know when these CVE are targeted to be closed  ?

[2020-12-09 13:30] jgiannuzzi commented on #47
Hi @rsrinivasanhome, thanks for reporting this!

I read about those 4 CVEs and looked at the corresponding changes to Consul — they seem to all be server-side (no changes to the `api` directory). However we fixed a compatibility issue in Consul.NET that prevented using it with Consul > 1.6.1 in master, but it's not been part of a release yet.

We will try to cut a release soon, after testing it ag

[2020-12-10 09:56] jgiannuzzi commented on #29
We are getting very close to releasing v1.0.0 of @sergeyshaykhullin's new Consul.AspNetCore library. Hang in there!

[2021-01-17 13:37] lucascebertin commented on #37
Well, just trying to compare consul utilization across some languages and nodejs lib brings a `watch` functionality.
https://github.com/silas/node-consul#watch

Snippet:
[code]

@arpontes, any chance to this being related?
Could you share how you do that in dotnet today?

Thanks

[2021-01-20 22:02] kingjuk opened #58 "Nuget push?"
You have a lot of great changes in the code. When do you plan to push your latest to nuget?

[2021-01-21 10:26] jgiannuzzi opened #60 "CI tests random failures"
Our CI tests are currently randomly failing ([example](https://github.com/G-Research/consuldotnet/pull/59/checks?check_run_id=1740716398)).

It seems to be that when the snapshot tests are running at the same time as the lock tests, they can cause some failures. It is because the Consul server is rolled back to a previous snapshot, but in the meantime some sessions and locks get created.

Currentl

[2021-01-21 11:09] #60 closed

[2021-01-21 18:03] jgiannuzzi commented on #58
Thanks for your interest in Consul.NET, @kingjuk!

We are planning to create a new release soon. We need to solve a few things with our CI first so that we can have proper testing of all the versions of Consul, .NET, and operating systems we want to support.

Thanks for your patience!

[2021-01-25 18:09] georgy93 opened #65 "Lock Acquire operation null reference exception + cancellation token not respected"
Hello!

Recently I've been playing with the distributed lock feature of Consul in an ASP Net Core 3.1 application.
I'm using the latest version of consuldotnet 1.6.1.1
I have a Background service that calls the Task<CancellationToken> Acquire(CancellationToken ct) continuously in a "block indefinitely" approach (LockTryOnce is left with its default value).  I.e. If I am not a leader, then wait unt

[2021-01-26 02:49] mfkl commented on #65
Hi,

Thanks for the report! So we can best assist you, could you please follow the [issue template](https://raw.githubusercontent.com/G-Research/consuldotnet/master/.github/ISSUE_TEMPLATE/bug_report.md) with your info? Thanks!

This would be a bug. Feel free to share a repro code (or unit test) :-)

No reason, it may have been overlooked. Could you share a repro/unit test for this as well please?

[2021-01-26 08:37] georgy93 commented on #65
Hi again!
Thank you for your response!
Here are the unit tests. Please note, that if you run them all at once, one might fail because the lock entry doesn't clean up always from consul agent. However, if you make sure there is no lock session before each test runs they all pass.

Consuldotnet v 1.6.1.1
OS: Windows

namespace XUnitTestProject1
{
    using Consul;
    using System;
    using System.

[2021-01-26 08:46] mfkl commented on #65
Great, thanks.

Would you mind pushing them to a branch on your fork and sharing it here, please? This will be easier to retrieve and run locally for the maintainers :-)

[2021-02-11 03:22] mfkl opened #68 "Continuous delivery plans"
It would be great to have the CI deploy nightly to myget.org or feedz.io.

This would allow users to dogfood nightly build and provide a tighter feedback loop. We can see about this after the ongoing CI improvements are merged.

[2021-02-12 05:21] mfkl opened #69 "Failure to run test on Windows with net461 TFM"
**Describe the bug**

There is a problem when running Consul.Test on Windows with net461 TFM. Fine with netcoreapp2.1 (which the CI uses).

**Steps To Reproduce**

Just run the test in VS or CLI on master.

**Expected behavior**

Tests pass just like with the net core TFM.

**Logs**

`FileLoadException` for `Newtonsoft.Json` for almost all tests.

Example:
[code]

**Environment**

- OS:       Wind

[2021-02-23 08:07] #69 closed

[2021-02-23 11:40] wxtsxt commented on #43
With the 5.0 version System.Text.Json supports private and internal property setters and getters via the [JsonInclude] attribute.
https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to?pivots=dotnet-5-0#non-public-property-setters-and-getters
I see the serialization is feature rich with this version.

@highlyunavailable Is it possible to upgr

[2021-02-25 05:37] mfkl commented on #43
https://github.com/Syzuna/consuldotnet/commits/master

[2021-02-25 17:27] Syzuna commented on #43
@wxtsxt My progress is kinda stuck at the moment, as I got distracted by bugs that sometimes are not easily figured out in libraries I am a team member for and personal stuff.

Wanted to finish this a while ago...
So if you want to take over or sth I dont mind.

[2021-05-05 01:50] mfkl commented on #65
Please try https://www.nuget.org/packages/Consul/1.6.10.1-rc1

[2021-05-05 01:50] #65 closed

[2021-05-05 01:50] mfkl commented on #58
@kingjuk please try https://www.nuget.org/packages/Consul/1.6.10.1-rc1

[2021-05-05 01:51] mfkl commented on #29
https://github.com/G-Research/consuldotnet/blob/master/.github/workflows/consul.aspnetcore.yml

[2021-05-05 01:51] #29 closed

[2021-05-05 01:52] mfkl commented on #26
Please try https://www.nuget.org/packages/Consul/1.6.10.1-rc1

[2021-05-05 01:52] #26 closed

[2021-05-05 01:53] mfkl commented on #47
@rsrinivasanhome please try https://www.nuget.org/packages/Consul/1.6.10.1-rc1 and let us know.

[2021-05-05 01:55] mfkl commented on #33
Think this is what you're looking for https://github.com/G-Research/consuldotnet/pull/70
Try https://www.nuget.org/packages/Consul/1.6.10.1-rc1

[2021-05-19 17:51] jgiannuzzi commented on #58
We have now (finally) released [1.6.10.1](https://www.nuget.org/packages/Consul/1.6.10.1), so I will close this issue.

Thanks again for your patience!

[2021-05-19 17:51] #58 closed

[2021-05-19 17:55] jgiannuzzi commented on #47
We have now (finally) released [1.6.10.1](https://www.nuget.org/packages/Consul/1.6.10.1), which works against the latest Consul releases. I will thus now close this issue.

Thanks again for reporting this, @rsrinivasanhome!

[2021-05-19 17:55] #47 closed

[2021-05-20 06:50] mfkl opened #82 "Improvement: fix naming rule violation"
In VS
[code]

[2021-05-20 07:15] mfkl opened #83 "Improvement: Fix warning for dotnet format"
When running `dotnet format --check`, while it is successful, it displays
[code]

Re-running with `dotnet format --check -v diag` shows
[code]

[2021-05-20 18:12] georgy93 commented on #65
Hi, Today I updated to the latest version of the package and the issues are resolved. Thanks!

[2021-05-21 15:58] viphehe opened #87 "GPRC health check failed"
Hello, I have a problem using consumotnet.

[code]
The health examination has not passed

Is the `GRPC` field in `AgentServiceCheck` filled in correctly?

Consul v1.9.5
nuget Consul 1.6.10.1

[2021-05-24 02:04] mfkl commented on #87
Hi, can you share a full repro sample please?

[2021-05-24 05:03] viphehe commented on #87
Is this ok?

[code]

[code]

[2021-05-24 06:03] mfkl commented on #83
running `dotnet restore` makes those disappear (for some reason)

[2021-05-24 06:03] #83 closed

[2021-05-24 06:06] mfkl commented on #87
Any logs from the server? Please use the [template](https://raw.githubusercontent.com/G-Research/consuldotnet/master/.github/ISSUE_TEMPLATE/bug_report.md) and edit your original message. Will be clearer. Thanks.

[2021-05-31 09:05] Smartearth opened #90 "the result of query service need more than one second"
**Describe the bug**

I query the service result by consulClient,
this spend more than one second

**Steps To Reproduce**

**Expected behavior**

**Logs**

**Environment**

- OS:       windows 10
- Consul Version:   1.6.10.1
- consultdotnet Version   5.0

**Additional context**

var query = consulClient.Health.Service(serviceName);
var entryArray = query.Result.Response; // more than one second he

[2021-05-31 09:15] mfkl commented on #90
Hi,

I'm not sure I'm following... what do you think is the problem here? Could you point to the code you think is wrong?

Is your internet connection slow?

[2021-05-31 09:34] Smartearth commented on #90
I query the regiested service by consul client, returns the result takes about one second.
It is localhost

I query the regersted service by url("http://127.0.0.1:8500/v1/health/service/servicename?passing=true"), the result returns rapidly

[2021-06-01 08:43] Smartearth commented on #90
consul V1.5.2 is working properly

[2021-06-01 08:46] mfkl commented on #90
Could you please share minimal repro code sample? That'd help us to confirm it quickly, if that's a regression.

[2021-06-04 11:23] #87 closed

[2021-06-04 11:25] viphehe commented on #87
It's solved. There's no problem with the configuration. My service didn't start

[2021-06-09 03:09] Smartearth commented on #90
var query = consulClient.Health.Service(serviceName);
var entryArray = query.Result.Response; // more than one second here

the key code

[2021-06-09 05:44] mfkl commented on #90
Please read https://stackoverflow.com/help/minimal-reproducible-example and provide a minimal sample in a git repro, including with timing measurements to support your claim.

[2021-06-10 13:06] marcin-krystianc commented on #90
@Smartearth Can you double check whether you still reproduce the problem ?
I've tried it locally with this modified test case:
[code]
and the query completes within few milliseconds.

[2021-06-25 11:19] #68 closed

[2021-06-26 09:16] Smartearth commented on #90
the enviroment is consul V1.5.2,
it works nice
it is inconvenience to comparison test

[2021-07-05 09:08] jgiannuzzi opened #103 "Invalid wait time when trying to acquire a lock that is already held"
**Describe the bug**

When trying to acquire a lock that is already held, we can sometimes get `BadRequest: Invalid wait time` from the Consul agent.

This has happened at least once when running the `Lock_OneShot` test. Here is an example stack trace:

[code]

And here are the relevant lines from the Consul agent logs:

[code]

The next to last line is indeed specifying an invalid wait time: `wai

[2021-07-07 14:56] gabor182 opened #104 "Consul.AspNetCore NuGet package naming collision issue"
The Consul.AspNetCore nuget package cannot be found on NuGet.org. There's already a package with this name there, but it's not yours, it's been published by zlzforever in 2018. You can find the package here: [Consul.AspNetCore](https://www.nuget.org/packages/Consul.AspNetCore/)

Though I think your CI/CD pipeline tried to publish your package, since you are listed as the owner of the package too.

[2021-07-08 02:39] mfkl commented on #104
Hi,

Thanks for your concern. We did contact the owner of this package and retrieved ownership, so we can push this package to NuGet. All should be OK, though it appears the latest Consul.AspNetCore release wasn't pushed to NuGet for some reason?

[2021-07-09 08:36] gabor182 commented on #104
Hi mfkl,

When do you plan to fix this issue? I'd like to use your Consul.AspNetCore package, but since it's not published yet, I had to copy-paste the source code of it into my project.

[2021-07-09 09:07] jgiannuzzi commented on #104
Hi @gabor182, we have indeed made all the necessary ownership transfer and CI changes to be able to publish `Consul.AspNetCore` to nuget.org. The reason it hasn't been published yet is that we were waiting to have some changes to `Consul` before creating a new release (the process for publishing is fully automated and auditable in [our CI](https://github.com/G-Research/consuldotnet/actions)).

We

[2021-07-15 00:32] LaoArchAngel opened #106 "Support access to Connect services"
One of the major features and offerings by Consul is the Connect service-mesh that provides secure communication between services.  Both the HTTP API as well as the GO API provide a way to find these Connect services via the Catalog endpoint / object and would be very useful for dotnet apps trying to use these concepts as well.

https://www.consul.io/api/catalog#list-nodes-for-connect-capable-serv

[2021-07-15 06:34] mfkl commented on #104
@gabor182 Try this out https://www.nuget.org/packages/Consul.AspNetCore/1.6.10.2

Closing the issue as this has been clarified :)

[2021-07-15 06:34] #104 closed

[2021-07-15 06:36] mfkl commented on #103
Is there a way to repro this consistently?

[2021-07-15 06:37] mfkl commented on #90
Closing this per lack of info.

Feel free to re-open with a minimal repro sample and exact steps if this is still an issue for you.

Thanks

[2021-07-15 06:37] #90 closed

[2021-07-15 06:38] mfkl commented on #106
Thanks for the report.

I doubt that's the case, so your contribution will be much welcome. I cannot easily find which version of Consul introduced this API, do you happen to know this?

Looking forward to your PR.

[2021-07-15 16:11] LaoArchAngel commented on #106
I do not know the version; that is a good question.  But their introduction video was published in 2018 so I'm assuming it was around that time?

[2021-07-16 10:25] jgiannuzzi commented on #106
It looks like it was [introduced](https://github.com/hashicorp/consul/blob/main/CHANGELOG.md#120-june-26-2018) as a beta in v1.2.0.

[2021-07-17 05:28] gabor182 commented on #104
Thanks, @mfkl! :)

[2021-07-26 09:25] nikhilagrawaldotnet commented on #33
@mfkl Thanks for the update. Does it filter on ServiceName and will it work only for Health Api or for Agent service as well?

[2021-07-28 11:29] gkinsman opened #112 "Bad package version in Nuget"
Hi there!

It looks like the [latest package](https://www.nuget.org/packages/Consul/1.6.10.2) that was uploaded to nuget 13 days ago breaks nuget installation/resolution as it has a file version number of 0.0.0.0.

The assembly has a full name of `Consul, Version=0.0.0.0, Culture=neutral, PublicKeyToken=20a6ad9a81df1d95`.

1.6.10.2 at the top, 1.6.10.1 at the bottom
![image](https://user-images.gi

[2021-08-04 10:06] #112 closed

[2021-08-05 10:03] mfkl opened #114 "CI intermittendly failing tests"
CI sometimes fails the test run, I could never repro locally. Started investigating but there are some tricky timing tests as well as time-based implementation logic in the consul code itself.

[code]

That's one. Seems to rely on code like this, in Session.cs

[code]
Also looked into these

[code]
[code]
Last one should be fixed by https://github.com/mfkl/consuldotnet/commit/c796d23a09b7af2764fad

[2021-08-05 22:40] LaoArchAngel commented on #106
Just wanted to give a bit of a heads up that my company has bumped this down in priority for a short time.  It's still on my plate but I won't be able to get to it immediately.  I have something that I think is worth testing soon, but I'll have to set up a working test environment first.

[2021-08-06 09:45] mfkl commented on #114
[code]
another one

[2021-08-06 10:04] mfkl commented on #112
1.6.10.3 is live with the fix, @gkinsman.

[2021-08-06 10:44] gkinsman commented on #112
Thank you! 💯

[2021-08-13 08:42] zhaoweijie1213 opened #116 "Can surpport check Asp.net Core Grpc service health?"

[2021-08-13 08:44] mfkl commented on #116
Hi,

We're going to need a bit more details here :-)

[2021-08-13 09:00] zhaoweijie1213 commented on #116
I have a grpc server in .net Core,How should I do to check it health by use Consul?Or it not support grpc now?

[2021-08-13 21:52] ledjon-behluli opened #117 "Registering a service in a namespace"
Curious to know if there is any plan to support namespaces in Consul.NET ?
The namespaces functionality is available only in Consul Enterprise version 1.7.0 and later.

[2021-08-16 01:54] mfkl commented on #117
I don't see why not, anything from the Consul API should be considered. Would you like to try contribute a PR for this?

[2021-08-16 07:37] ledjon-behluli commented on #117
Sure! What's the best way to go about it?
Should I fork branch development or master?

[2021-08-16 07:39] mfkl commented on #117
`master`, the develop branch is not used, we should remove it.

[2021-08-16 07:40] ledjon-behluli commented on #117
Got it!

[2021-08-19 06:59] mfkl opened #118 "Remove stale branches?"
We could delete all 5 stale branches https://github.com/G-Research/consuldotnet/branches

[2021-08-19 08:28] marcin-krystianc commented on #118
👍

[2021-08-19 08:29] mfkl commented on #118
Done

[2021-08-19 08:29] #118 closed

[2021-09-24 03:56] #116 closed

[2022-03-06 07:16] loda7023link opened #137 "why return consul service take so long time?"
Nuget:
Consul 1.6.10.4

.Net 6
Asp.Net Core WebApi

![image](https://user-images.githubusercontent.com/28056027/156913126-217dee71-1fd4-4b51-b9bf-dd3e6e8be122.png)

[2022-03-07 04:27] loda7023link commented on #137
It's so weird.
I run same code in my two pc. It take different time.

Environment：
1. Win 10, Consul 1.11.4, AMD 2700X, 16GB RAM. Time: 50~100ms
2. Win 11, Consul 1.11.4, Intel 9400H, 16GB RAM, Time: about 1500ms

[2022-03-07 04:46] loda7023link commented on #137
It seems like consul.exe problem.

[2022-03-07 04:46] #137 closed

[2022-03-16 15:53] pablonardone opened #138 "KV.Release is writing a wrong value"
### Describe the bug

When using `KV.Release` to release a previously acquired lock on an item, the `Release` funcion always write the value `bnVsbA==` to the item, which corresponds to the base64 encoding of the text `null`.

This is happening because the `Release` function is constructing a request whith the form `PutRequest<object, bool>` and passing null as the `body` parameter.

Then when the

[2022-03-16 15:58] pablonardone commented on #138
In order to resolve this issue it would be enough to modify the `KV.Release` functions in the following way:

The current functions is:
[code]

And the new function it would be:
[code]

[2022-03-17 06:34] mfkl commented on #138
Hi @pablonardone,

Thanks for the detailed report.

Looks like you got the bug and accompanying fix figured out already, would you like to contribute a PR?

[2022-04-29 05:08] Weilence opened #142 "Does support Agent Caching?"
In this [documentation](https://www.consul.io/api-docs/features/caching), there is cached parameter. but I don't see this parameter in `QueryOptions`, is caching currently supported?

[2022-06-15 00:22] dealproc opened #152 "Configuring Port as part of Service Registration"
I need to configure a _dynamic_ port as part of my service registration during a generic host startup sequence.  According to the dotnet docs, if you say your binding port is "0", then it'll allocate a dynamic port for you.  My problem is how do I do this within the registration apis?

[2022-06-15 08:59] marcin-krystianc commented on #152
Hi, as far as I understand your use case you should:
- Bind the service to port "0"
- Start the service
- Read which actual port it was assigned to
- Provide an actual port to the registration API

Is it what you were after?

[2022-06-19 09:07] bidianqing commented on #152
I have the same problem. How to get dynamic port in Startup.ConfigureServices method?

[2022-06-20 17:33] dealproc commented on #152
Yeah, I had to do exactly what you mention @marcin-krystianc.  In order to achieve it, I had to build an alternative method to `AgentServiceRegistration` that looks like this:

[code]

The key point with this... the app needs to be fully online before you can read the resolved IP Port and register.  I didn't see an alternative way to gain the resolved IP.  If someone has more information on how to

[2022-06-20 17:37] dealproc opened #153 "Registration with health checks... how do you provide one for gRPC connections?"
According to the [Consul Documentation](https://www.consul.io/docs/discovery/checks), you are able to register for a health check on a gRPC endpoint.  In the present dotnet api, I do not see a similar object model that would allow such a registration.  Is there something I've missed, or does the client object model need a little TLC to configure multiple type(s) of checkpoints, inclusive of the h2

[2022-06-24 11:35] marcin-krystianc commented on #153
There is a way to register gRPC check (see https://github.com/G-Research/consuldotnet/blob/master/Consul/Agent.cs#L273-L277) , but there is nothing in the library that would allow implementing an endpoint for it.
Regarding the h2c checks - it is not possible to register them at the moment.

[2022-06-28 01:29] dealproc commented on #153
Right.  I noticed that, i believe, and had not updated my query.  Sorry about the confusion @marcin-krystianc .

[2022-06-28 01:29] #153 closed

[2022-07-13 09:33] Bergiu opened #156 "Wrong type"
https://github.com/G-Research/consuldotnet/blob/40159228a4a2f15284e6eaa6e386dad0738066f5/Consul/Catalog.cs#L53

I think this should be IDictionary instead of Dictionary. Same for the lines: 34 and 61.

[2022-07-22 08:13] mfkl commented on #156
Sure, I guess this is a reasonable change. Are you currently blocked by this though?

Feel free to send a PR!

[2022-07-22 08:14] mfkl commented on #138
It'd be useful to have a unit test for this.

[2022-07-22 11:59] marcin-krystianc commented on #156
Whenever we accept any changes like this, we need to consider its binary compatibility.
I think here, the change would be binary incompatible. So on one hand I get the argument that we shouldn't use concrete types on our public interfaces, but on the other hand I think we should just prioritise binary compatibility.

[2022-07-27 10:18] Mutuduxf opened #159 "[Bug]: Can Upgrade the Newtonsoft.Json to fix CWE-755?"
### Describe the bug

Introduced through
Consul@1.6.10.6
Fixed in
Newtonsoft.Json@13.0.1
Exploit maturity
PROOF OF CONCEPT
Show less detail
Detailed paths
Introduced through: project@* › Consul@1.6.10.6 › Newtonsoft.Json@10.0.3
Fix: No remediation path available.
Overview
Affected versions of this package are vulnerable to Insecure Defaults due to improper handling of StackOverFlow exception (SOE)

[2022-08-01 09:36] #159 closed

[2022-08-09 00:27] steingran commented on #106
@LaoArchAngel How far did you get on this? Any chance you could share what you have, even though it is incomplete?

[2022-08-12 06:58] marcin-krystianc opened #165 "[CI Bug]: Consul.Test.TokenTest.Token_CreateWithServiceIdentitiesDelete is flaky"
### Describe the bug

Failed run: https://github.com/G-Research/consuldotnet/runs/7801200863?check_suite_focus=true
[code]

### Steps To Reproduce

-

### Expected behavior

-

### Environment

-

### Logs

[consul-logs-1.13.1-net6.0-ubuntu-18.04.zip](https://github.com/G-Research/consuldotnet/files/9314319/consul-logs-1.13.1-net6.0-ubuntu-18.04.zip)

### Additional context

_No response_

[2022-08-23 10:17] #165 closed

[2022-09-01 10:39] Bergiu commented on #156
There are also other occurrences in properties:
 - https://github.com/G-Research/consuldotnet/blob/master/Consul/Agent.cs#L152
 - https://github.com/G-Research/consuldotnet/blob/master/Consul/Agent.cs#L255
 - https://github.com/G-Research/consuldotnet/blob/master/Consul/AuthMethod.cs#L37
 - https://github.com/G-Research/consuldotnet/blob/master/Consul/Client_Request.cs#L54
 - https://github.com/G-

[2022-09-01 10:41] Bergiu commented on #156
I've made two branches: "master" that contains the changes only in Catalog.cs, and "more" that contains all changes.

please let me know if i should make a pr from any of those branches.

[2022-09-09 15:08] marcin-krystianc commented on #156
By binary compatibility I mean the compatibility when at runtime an assembly references different version of an assembly than was used to compile that particular assembly. It is possible that some library can be compiled against `Consul 1.6.10.7`, but at runtime it will be using higher version (e.g. `Consul 1.6.10.8`). If the newer version is not binary compatible with older version, we will get r

[2022-09-09 15:08] #156 closed

[2022-09-30 21:12] christopher7694 opened #169 "How to delete all keys?"
Passing in an empty prefix throws an exception.
What is the right way to do this?

[2022-10-03 01:53] mfkl commented on #169
https://github.com/G-Research/consuldotnet/blob/269b5bdbd5efeb83d9728ee047668239fa63ebe0/Consul/KV.cs#L354-L362

Is that what you're looking for?

[2022-10-04 01:59] christopher7694 commented on #169
Thanks for the reply!

That call goes to here:
https://github.com/G-Research/consuldotnet/blob/269b5bdbd5efeb83d9728ee047668239fa63ebe0/Consul/KV.cs#L370-L376

which calls:
https://github.com/G-Research/consuldotnet/blob/269b5bdbd5efeb83d9728ee047668239fa63ebe0/Consul/KV.cs#L372

which in turn calls:
https://github.com/G-Research/consuldotnet/blob/269b5bdbd5efeb83d9728ee047668239fa63ebe0/Consul/KV

[2022-10-04 05:59] mfkl commented on #169
I don't see a way to drop all the keys without specifying a prefix from the docs https://www.consul.io/commands/kv/delete

How would you achieve this with Consul CLI?

[2022-10-04 17:13] christopher7694 commented on #169
I don't see a way either. Ok. I'll use the workaround for now of getting all the keys and deleting them one by one.

Thanks!

[2022-10-04 17:13] #169 closed

[2022-10-21 07:54] jgiannuzzi opened #172 "[CI] Fix deprecation warnings"
We are getting quite a few deprecation warnings lately, and some of them even result in actual failures: https://github.com/G-Research/consuldotnet/actions/runs/3294480092.

This should be fixed by updating most actions to their latest version.

We should also consider using Dependabot just for actions.

[2022-10-31 14:01] chester89 commented on #37
I'd like watch functionality [for service instances](https://developer.hashicorp.com/consul/docs/dynamic-app-config/watches#service). Will the trick similar to KV work? e.g.
`var result = await consulClient.Health.Service("serviceName", "tagName", true, new QueryOptions
                {
                    WaitIndex = 0ul
                }, cancellationToken); //further processing`

[2022-11-03 09:28] marcin-krystianc commented on #37
Yes, I think it will work. Mind, that `WaitIndex` need to be set to the value from the previous query result.

[2022-11-06 21:06] pablonardone opened #173 "Is the class ConsulClient thread safe?"
I'm not sure if this is the correct place for this question, if it is not I apologize in advance.

I did not find any documentation about the thread safety of ClientConsul class.
Can we have only one instance of ClientConsul and share this instance between multiple tasks querying and writing concurrently to the KV store, or should create a new instance for every operation whith the KV store?.

Tha

[2022-11-08 08:34] marcin-krystianc commented on #173
Hi @pablonardone,

the `ConsulClient` class is thread safe so it is ok to use it concurrently from multiple threads. Thanks for raising this issue, I'll look into improving the documentation.

[2022-11-08 08:34] #173 closed